$basecolor: #8c6bd8;
$darker: #6d45ca;
$medium: #5424c2;
$dark: #3c0ea6;
$darkest: #2e0a80;
$basicbg: rgba(255, 255, 255, 0.7);

@mixin list {
  font-weight: 600;
  font-size: 1.2em;
}

@mixin basic-box {
  background-color: $basicbg;
  border-radius: 1em;
  padding: 1em;
  transition: transform 0.5s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header a,
header a:active,
header a:visited {
  color: black;
}

.navbar {
  position: relative;
  background-color: $basicbg;
  padding: 10px;
  border: 0px;
  margin: 0px;
  a img {
    height: 50px;
    width: auto;
  }
  #burger {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: 20px;
  }
}

.sas {
  font-weight: bold;
  color: $dark;
}

.space {
  font-style: italic;
  color: $medium;
}

body {
  background-image: url("https://news.virginia.edu/sites/default/files/styles/uva_basic_article/public/article_image/iss_nasa_header.jpg?itok=6d9ckZBu");
  background-size: auto;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}

.left {
  position: absolute;
  top: 10%;
  left: 2%;
  @include basic-box;

  &:hover {
    transform: scale(1.15);
  }

  @media only screen and (max-width: 640px) {
    // right: 50%;
    // transform: translateX(50%);
    width: 96%;

    &:hover {
      transform: scale(1);
    }
  }

  .title {
    @include list;
  }

  ul {
    list-style-type: none;
  }
}

.right {
  @include basic-box;
  position: absolute;
  top: 10%;
  right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.15);
  }

  @media only screen and (max-width: 640px) {
    top: 63%;
    // transform: translateX(50%);
    width: 96%;

    &:hover {
      transform: scale(1);
    }
  }

  p {
    @include list;
    margin-bottom: 5px;
  }

  img {
    width: 150px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  text-align: center;
  flex-direction: column;
  background-color: $basicbg;
  border-radius: 1em;
  padding: 30px;
  font-family: "Open Sans", sans-serif;

  p:first-child {
    font-size: 4em;
    padding-bottom: 1rem;
    font-weight: 600;
  }

  p {
    font-size: 2em;
    font-weight: 400;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $basicbg;
  width: 100vw;
  text-align: center;
  padding: 10px;
}

footer i,
header i {
  transition: color 0.5s;
}

footer i:hover,
header i:hover {
  color: $darker;
}

.burger {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

footer a {
  margin: 0.5rem 0.5rem;
}

footer a,
footer a:visited,
header a:visited {
  color: black;
}

footer a:active,
header a:active,
.fas:active,
.fa:active {
  color: $darkest;
}
