.newsletter h2 {
  color: red;
  margin-bottom: 3rem;
}

footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: auto;
}

h2 {
  text-align: center;
}
